body {
    font-family: Arial, sans-serif;
    background-color: #4cced9;
    text-align: center;
  }
  
  h1 {
    color: #333;
    background-color: #cd5555;
    padding: 20px;
    border-radius: 5px;
    margin: 50px auto;
  }

  footer {
    background-color: #f3f03c; /* Cor de fundo do rodapé */
    color: #45474B; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}